# Virtual environment
venv/
env/
*.pyc
__pycache__/

# Data & Images
dataset/
*.csv
*.jpg
*.png

# Logs & Debug Files
*.log
logs/

# Python Packages
*.egg-info/
dist/
build/

# Node.js (for frontend)
node_modules/
package-lock.json
.yarn.lock
.expo/
.expo-shared/

# OS-Specific
.DS_Store
Thumbs.db
